<html>
<head>
    <title>Table Updater</title>
</head>
    <body>
    <form>
        Transaction Id <input type="text" required name="tid"><br><br>
        Type <input type="text" required name="type"><br><br>
        Item Id <input type="text" required name="iid"><br><br>
        Transaction Customer Id <input type="text" required name="tcid"><br><br>
        Transaction Amount <input type="text" required name="amount"><br><br>
        Transaction Date <input type="text" required name="date"><br><br>
        Bill Produced <input type="text" required name="bill"><br><br>
        <button type="submit" value="submit">Submit</button>
        <a class="btn-info" href="/sample">Click here to view the table!</a>
    </form>
</body>
</html>